<mat-card>
    <h1>{{teamDataList?.length === 0 ? 'Please Add Team To See Here':'All Teams'}}</h1>
    <mat-list>
      <mat-list-item *ngFor="let teamData of teamDataList">
        <mat-icon mat-list-icon>group_work</mat-icon>
        <div mat-line>{{teamData.team.teamName}}</div>
        <div mat-line>{{teamData.team.description}}</div>
        <mat-divider></mat-divider>
        <button  mat-stroked-button color="accet" class="ml10 strocked-btn"  *ngIf="currentUserId != teamData.team.createdBy" [matBadge] = "teamData.inviteList && teamData.inviteList!.length ? teamData.inviteList.length : ''" matBadgeColor="accent"  (click)="navigateToInviteRequests(teamData,'INVITE')" >
            Invites
          </button>
        <button  mat-flat-button color="accet"  *ngIf="!hasJoinedTeam(teamData.team.teamId)" class="ml10 flat-btn" (click)="addMember(teamData.team.teamId)">
            Join Team
          </button>
          <button  mat-stroked-button color="acent" class="ml10 strocked-btn"  *ngIf="currentUserId == teamData.team.createdBy" [matBadge] = "teamData.requestList && teamData.requestList!.length ? teamData.requestList.length : ''" matBadgeColor="accent"  (click)="navigateToInviteRequests(teamData,'REQUEST')">
            Requests
          </button>
          <button  mat-stroked-button color="accnt" *ngIf="currentUserId == teamData.team.createdBy" class="ml10 strocked-btn" [routerLink]="'/admin/add-team-member/' + teamData.team.teamId">
            Add Member
          </button>
          <button  mat-flat-button color="accen"  class="ml10 flat-btn" [routerLink] = "'/admin/view-team-members/' + teamData.team.teamId + '/' + teamData.team.createdBy">
            Members
          </button>
      </mat-list-item>
    </mat-list>
  
    <div class="container text-center mt20">
      <button routerLink="/admin/create-team" mat-fab color="accnt" class="flat-btn">
        <mat-icon mat-list-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  