<!-- <h1>this is navbar</h1> -->
<mat-toolbar color="pimary" class="accent-bg">
    <a
      routerLink="/admin/profile"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon style="padding-bottom: 29px;">diversity_3</mat-icon>
    </a>
    <span>TeamPortal</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="userService.isLoggedIn() && hasAppAdminAuthority"
      mat-button
      class="example-icon favorite-icon mr10"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26">manage_accounts</mat-icon>
      Manage Users
    </button>
  
    <button
      (click)="logout()"
      *ngIf="userService.isLoggedIn()"
      mat-button
      class="example-icon favorite-icon mr10"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26">logout</mat-icon>
      Logout
    </button>
  
    <button
      *ngIf="userService.isLoggedIn()"
      class="example-icon favorite-icon ml10"
      mat-button
      [routerLink]="'admin/profile'"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26">account_circle</mat-icon>
      {{ userService.getUser().username.toUpperCase() }}
    </button>
    <button
      *ngIf="userService.isLoggedIn()"
      mat-button
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26" 
    [matBadge]="notifications ? notifications : ''"  
    (click)="openNotifications()"
    matBadgeColor="accent">notifications</mat-icon>
      
    </button>

    <button
      *ngIf="!userService.isLoggedIn()"
      [routerLink]="'/login'"
      mat-button
      class="example-icon favorite-icon mr10"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26">login</mat-icon>
      Login
    </button>
  
    <button
      *ngIf="!userService.isLoggedIn()"
      [routerLink]="'/signup'"
      mat-button
      class="example-icon favorite-icon ml10"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon mat-list-icon class="pb26">how_to_reg</mat-icon>
      Register
    </button>


  </mat-toolbar>
  

  <!-- <mat-menu #menu="matMenu" style="height: 400px;">
    <ng-container *ngIf="notificationsList?.length; else noNotifications">
      <div class="custom-notification-item" *ngFor="let notification of notificationsList" (click)="redirectFromNotification(notification)">
        <mat-icon class="custom-icon">notification_important</mat-icon>
        <div class="custom-notification-content">
          <h4>{{ notification.notificationRelation }}: {{ notification.notificationType }}</h4>
          <p>{{ notification.notificationDescription }}</p>
        </div>
      </div>
    </ng-container>
  
    <ng-template #noNotifications>
      <div class="no-notifications">
        <mat-icon class="custom-icon">notifications_off</mat-icon>
        <span>No new notifications</span>
      </div>
    </ng-template>
  </mat-menu> -->


  