
<div class="bootstrap-wrapper mt20 mb20">
    <div class="row">
      <div class="col-md-12">
        <div class="container text-center">
          <button
            mat-raised-button
            color="accet"
            class="flat-btn"
            [routerLink]="'/admin/add-team-member/' + teamId"
          >
            Add Members
          </button>
        </div>
  
        <mat-card *ngFor="let rq of requestInviteList" class="mt20">
          <!-- {{participant|json}} -->
          <mat-card-content>
            <!-- <p>
              <b> {{participant.participantName}}</b> 
              <span class="ml20" [innerHTML]="participant.content"></span>
            </p> -->
  
            <div class="container-fluid mt10">
              <div class="row">
                <div class="col-md-6" >
                  <p><b>Request Category :  </b> {{rq.requestCategory}}</p>
                </div>
                <div class="col-md-6">
                  <p><b>User ID :  </b> {{ rq.requestBy }}</p>
                </div>
              </div>
              <mat-divider ></mat-divider>
            </div>
          </mat-card-content>
  
          <mat-card-action>
            <button  mat-raised-button (click)="declineRequest(rq.id)" color="warn" >
              Decline
            </button>
            <button  mat-raised-button color="accet"  class="ml10 flat-btn" (click)="acceptRequest(rq.id)"> 
                Accept
              </button>
          </mat-card-action>
        </mat-card>
      </div>
    </div>
  </div>
  