<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink="/admin/home" mat-list-item 
      [class.active]="isActive('home')"
      >
        <mat-icon mat-list-icon>home</mat-icon> Home
      </button>
      <button mat-list-item routerLink="/admin/profile" 
      [class.active]="isActive('profile')"
      >
     <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-list-item routerLink="/admin/teams" 
      [class.active]="isActive('teams')"
      >
        <mat-icon mat-list-icon>group_work</mat-icon> Teams
      </button>
      <button mat-list-item routerLink="/admin/create-team" 
      [class.active]="isActive('create-team')"
      >
        <mat-icon mat-list-icon>add_circle_outline</mat-icon> Create Teams
      </button>
      <button mat-list-item routerLink="/admin/events" 
      [class.active]="isActive('events')"
      >
        <mat-icon mat-list-icon>event</mat-icon> Events
      </button>
      <button mat-list-item routerLink="/admin/create-event" 
      [class.active]="isActive('create-event')"
      >
        <mat-icon mat-list-icon>add_circle_outline</mat-icon> Create Event
      </button>
      <button mat-list-item routerLink="/admin/view-approvals" 
      [class.active]="isActive('approval')"
      >
        <mat-icon mat-list-icon>verified_user</mat-icon> Approvals
      </button>
      <button mat-list-item 
      
      >
        <mat-icon mat-list-icon>logout</mat-icon> Logout
      </button>
      
    </mat-action-list>
  </mat-card>