/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #f5f5f5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.pb26 {
  padding-bottom: 26px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}

.icon-green mat-icon {
  color: green;
  padding-bottom: 30px;
}

.icon-red mat-icon {
  color: red;
  padding-bottom: 30px;
}

.icon-yellow mat-icon {
  color: rgb(185, 45, 45);
  padding-bottom: 30px;
}


.accent-bg {
  background-color: #3b78ad; 
  color: white;
} 

.flat-btn {
    background-color: #3495eb; 
    color: white;
    &:hover {
      background-color: #3b78ad;
    }
} 
.strocked-btn{
    color: #3495eb;
    &:hover {
      background-color: #cce6fc;
    }
}

